body { background: #115cba; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 33px; display: flex; }
.block-payment-0 { color: #122b00; font-size: 20px; margin-bottom: 5px; }
.block-notify-1 { color: #e08ba9; font-size: 20px; margin-bottom: 5px; }
.block-email-2 { color: #ea3f20; font-size: 19px; margin-bottom: 5px; }
.block-token-3 { color: #c31471; font-size: 18px; margin-bottom: 5px; }
.block-metrics-4 { color: #efe8eb; font-size: 12px; margin-bottom: 5px; }
.block-database-5 { color: #e498c8; font-size: 19px; margin-bottom: 5px; }